{% extends "rental/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="container-fluid bg-dark">
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 px-5 py-5 shadow my-5 box border text-white ">
<form method="post">
{% csrf_token %}
<legend class="text-center">{{role}}LOGIN PAGE</legend>
{{ form | crispy }}
<button type="submit" class="btn btn-success w-100 mt-2">SUBMIT</button><br>
</form>
    <!-- dropdown -->
<!-- <div class="dropdown ">
  <div class="btn btn-secondary dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" >
    Register now : 
  </div> 
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/register/student">As a user/find a home?</a>
    <a class="dropdown-item" href="/regsiter/renter">As a renter/Wanna host?</a>
    <a class="dropdown-item" href="/register/food_seller/">As a food seller/Sell Meals?</a>
  </div>
</div> -->
 <div class="row">
    <div class="col pt-2 text-white " style="line-height: 35px;">Don't have a Account? Register now:<br>

    <a style="color: white " href="/register/student"><i>As a user/find a home?</i></a><br>
    <a  style="color: white " href="/register/renter/">As a renter/Wanna host?</a><br>
    <a  style="color: white " href="/register/seller/">As a food seller/Sell Meals?</a><br>
 </div>
    </div>
 </div>
<div class="col-sm-4"></div>
</div>
</div>
{% endblock content %}