{% extends 'rental/base.html'%}
{%block content%}
<div class="container-fluid con bg-dark py-5 slider1">
    <div class="row services  mx-5">
        <div class="row  " >
    <center><h1 style="color:white;">ABOUT US</h1>
        
    <p style="margin:10px 200px;font-size:15px;color:white;">We provide on-point and easy to access website, making sure that the students as well as the landlords can use this easily . Rent a room! or rent a stay! for your safe stay.</p></center>
</div>
    <div class="row  " >
    <div class="col-sm-1"></div>
     <div class="col-sm-5 py-5 px-5 box "> <!--bg-light bg-opacity-10  -->
    <div class="row text-light " >
        <p style="font-size:18px;color:white;"><b >Fin</b>d your second <b>Home</b></p>
        <br>
        <p> FinHome is a website for students that study far from home. Through this website u can find the perfect stay for your term.
            It lets you an easy access to the the rented rooms, hostel or even PGs . So that you can find your stay comfortable and accessible according to your needs in a new city or an unfimilar</p>
            <br>
            <p>FinHome is also website for landlords to post theirs providings rooms for students</p>

    
    </div>
    </div>
    <div class="col-sm-5 py-5 px-5 bg-light "><center><br><br><br><br><h1 style="color:black;font-family:Edwardian Script ITC;font-size:50px;">FinHome!</h1></center></div>
    <div class="col-sm-1"></div>
    </div>
    </div>
</div>
    

    
{%endblock%}