{% extends 'rental/base.html'%}
{%block content%}
<div class="container-fluid con bg-dark py-5 slider1">
    <div class="row services  mx-5">
        <div class="row  " >
    <center><h1 style="color:white;">CONTACT US</h1>
        
    <p style="margin:10px 200px;font-size:15px;color:white;">We also recommend making sure that the toggler has the aria-controls attribute, pointing to the id of the content container. In theory, this allows assistive technology users to jump directly from the toggler to the container it controls.</p></center>
</div>
    <div class="row  " >
    <div class="col-sm-6 py-5 px-5  ">
    <div class="row text-light" >

         <div class="col-sm-9 px-5 py-5  "><i class="fa-regular fa-user "></i><div class="x"> Address</div> 

         <p style="font-size:15px;">Sitapur-Hardoi Bypass Road, Lucknow, Uttar Pradesh 226013</p>
        </div>
         <div class="col-sm-9 px-5 py-4"><i class="fa-regular fa-phone "></i><div class="x"> Phone</div>
         <p style="font-size:15px;">0522 277 4041</p>
        </div>
         <div class="col-sm-9 px-5 py-4"><i class="fa-regular fa-envelope "></i><div class="x"> Email</div>
         <p style="font-size:15px;">abc@gamil.com</p>
         </div>
        </div>
    </div>
    <div class="col-sm-6 py-5 px-5 ">
   
<div class="row" >
<div class="col  mx-auto px-5 py-5">
<center><h5 style="color:white;">LOGO</h5></center>
<form>
<div class="input-group my-4 ">
<input type="text" class="form-control px-4 py-3 " placeholder="Enter your name">
</div>

<div class="input-group my-4">
<input type="email" class="form-control px-4 py-3" placeholder="Enter your email">
</div>

<div class="input-group my-4">
<textarea class="form-control" id="Enter your email" rows="3" placeholder="Enter your message"></textarea>
</div>

<input type="submit" value="Send" class="b1 px-4 py-3 mt-2 w-100 ">


</form>
</div>
</div>

</div>
    
    </div>
   
    </div>
    </div>
    </div>

{%endblock%}
