{% extends 'rental/base.html'%}
{%load static%}
{%block content%}
<div class="  full">
<div class=" slider111 bg-danger">
  <div class="row  jz ">
    <div class="col-md-6 opacity-20 py-5 px-5 text-dark bg-light opacity-75 mt-5 ">
      <font style="font-size:50px;font-style:impact;"><b>We Make High</b> Quality Memories <b>For You</b></font>
      <br><br>
      <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book </p>
      <input type="button" class="btn1 px-2 py-2" value="GET STARTED NOW">
    </div>
    <div col="col-md-6"></div>
  </div>
</div>

<div class="container-fluid slider15 bg-light">
  <div class="row">

    <div class="col-md-8 mx-auto py-5 text-center">
      FINHOME<br><br>
      <h1> LET'S FIND YOU A COMFORTABLE EXPERIENCE<br> __________</h1>

      <p style="color: rgb(148, 148, 148);margin-top: 20px;"> Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
  <div class="row  justify-content-center ">

    <div class="col-md-4 mx-5 py-5 text-center shadow px-5 my-5 fin2"><!---change the color of some text and add pink-->
      
      <h3>FIND A HOME</h3>
      <b>_________</b><br><br>
      <i class="fa-solid fa-house-chimney " style="font-size:30px;"></i>

      <p style="color:rgb(149, 149, 149);text-align: center;margin-top: 20px;">
        Find your quality stay for your educational term.
        For small text on a white background, consider using a slightly darker color than pure white,
      </p><a href="/house/" class="btn shadow" style="text-decoration:none;border-radius: 5px;">LET'S FIND YOUR STAY</a>
    </div>
    <div class="col-md-4 mx-5 py-5 text-center shadow px-5 my-5 fin2">
      
      <h3>FIND A MEAL</h3>
      <b>_________</b><br><br>
      <i class="fa-solid fa-burger" style="font-size:30px;"></i>

      <p style="color:rgb(149, 149, 149);text-align: center;margin-top: 20px;">
        Find your craving satisfiers for your educational term.
        For small text on a white background, consider using a slightly darker color than pure white,
      </p><a href="/food/" class="btn shadow" style="text-decoration:none;border-radius: 5px;">LET'S FIND FOOD</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-8 mx-auto py-5 text-center text-white">
      FINHOME<br><br>
      <h1> FEATURES OUR WEBSITE PROVIDES<br> __________</h1>

      <p style="color: rgb(148, 148, 148);margin-top: 20px;"> Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
        1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </div>
  </div>
  <div class="row justify-content-center py-5">
    <div class="col-md-2 py-2 px-2 text-center bg-light mx-2 ">
      <i class="fa-solid fa-bolt-lightning" style="font-size: 40px;"></i>
      <h3>Fast</h3>
      <p style="color: rgb(148, 148, 148)"> Lorem Ipsum is simply dummy text of the printing and
        typesetting industry</p>
    </div>
    <div class="col-md-2 py-2 px-2 text-center bg-light mx-2">
      <i class="fa-solid fa-lock" style="font-size: 40px;"></i>
      <h3>Secure</h3>
      <p style="color: rgb(148, 148, 148)"> Lorem Ipsum is simply dummy text of the printing and
        typesetting industry</p>
    </div>
    <div class="col-md-2 py-2 px-2 text-center bg-light mx-2">
      <i class="fa-solid fa-handshake-simple" style="font-size: 40px;"></i>
      <h3>User Friendly</h3>
      <p style="color: rgb(148, 148, 148)"> Lorem Ipsum is simply dummy text of the printing and
        typesetting industry</p>
    </div>
    <div class="col-md-2 py-2 px-2 text-center bg-light mx-2">
      <i class="fa-solid fa-thumbs-up" style="font-size: 40px;"></i>
      <h3>Easy</h3>
      <p style="color: rgb(148, 148, 148)"> Lorem Ipsum is simply dummy text of the printing and
        typesetting industry</p>
    </div>

  </div>
</div>
<div class="slider4">
  <div class="row bg-light">
    <div class="col-md-6 py-5">
      <div class=" text-center">
        <h1>LET'S GET STARTED <br>
          <b>_________</b>
        </h1>
        <div style="align-items: start;">
          <div class="btn shadow rounded-5 my-2 ins px-3 py-3"> Register this site to access its features in in simple
            steps.</div><br>
          <div class="btn shadow rounded-5 my-2 ins px-3 py-3"> Register for user, and provider .</div><br>
          <div class="btn shadow rounded-5 my-2 ins px-3 py-3"> Register according to your role, and provider .</div>
          <br>
        </div>

        <a class="btn my-4 shadow" style="background-color: rgb(255, 0, 111);" href="/choose_register/"> Register
          now</a><br>
          <a class="btn btn-danger shadow" href="/chatbot/">CHAT WITH OUR CHATBOT</a>
      </div>
    </div>
    <div class="col-md-6  "><img src="{% static 'rental/images/work.png'%}"
        style="height:400px;margin-top: 40px;margin-left: 40px;"></div>
  </div>
</div>

</div>
{% endblock %}